@use "../tools/mixins" as tools;

.c-button {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--c-black);
  border-radius: 0.5rem;
  text-decoration: none; //reset links
  transition: all var(--v-transition-time-long) var(--v-transition-function-easy);
  cursor: pointer;
  @include tools.paragraph-base;

  &:hover {
    color: var(--c-white);
    background: var(--c-black);
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.c-button--ghost {
  border: none;
  background-color: transparent;

  &:hover {
    color: var(--c-black);
    background: var(--c-grayscale-2);
  }
}

.c-button--just-icon {
  padding: 1rem;
}

.c-external-icon {
  stroke: var(--c-black);
  margin-left: 0.25rem;
  transition: all var(--v-transition-time) var(--v-transition-function-easy);
}

.c-external-icon--small {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

a:hover .c-external-icon {
  transform: translate(2px, -2px);
}

a:hover .c-external-icon--small {
  transform: translate(1px, -1px);
}
