@use "../settings/breakpoints" as settings;

$bp-hero-lg: 1200px;

.c-homepage-hero {
  grid-template-rows: min-content auto;
  padding: 0 var(--v-page-margin);
  overflow: hidden;
}

.c-homepage-hero__heading {
  grid-column: 1 / 12;
  grid-row: 1 / 2;
  padding-block: 10rem var(--space-lg);
  margin: 0;
  color: var(--c-black);
  text-wrap: balance;
    
  @media (max-width: settings.$bp-sm) {
    grid-row: 1 / 2;
    padding-block: var(--space-xl) var(--space-md);
  }

  span {
    display: inline-block;
    opacity: 0;
  }

  .with-space {
    margin-right: 1rem;

    @media (max-width: settings.$bp-md) {
      display: block;
    }
  }
}

.c-homepage-hero__primary {
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  
  position: relative;
  z-index: 2;
  
  @media (min-width: settings.$bp-sm) {
    grid-column: 1 / 5;
  }

  @media (min-width: settings.$bp-md) {
    grid-row: 2 / 3;
  }
}

.c-homepage-hero__secondary {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  height: 18rem;

  display: flex;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  position: relative;
  
  @media (min-width: settings.$bp-sm) {
    grid-column: 6 / 13;
    grid-row: 2 / 3;
    padding-top: 3.5vh;
    height: 100%;
    padding-top: 5vh;
    overflow: visible;
  }

  @media (min-width: settings.$bp-md) {
    height: auto;
    padding: 0;
    overflow: visible;
  }

  // Gradient fade
  @media (max-width: settings.$bp-md) {
    &::after {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      right: calc(-1 * var(--v-page-margin));
      height: 12vh;
      z-index: 10;

      // Not using variables because custom properties and rgba don't play nice
      background: linear-gradient(
        rgba(249, 250, 250, 0),
        rgba(249, 250, 250, 0.1) 20%,
        rgba(249, 250, 250, 0.6) 50%,
        rgba(249, 250, 250, 0.85) 75%,
        rgba(249, 250, 250, 0.97) 90%,
        rgba(249, 250, 250, 1) 95%
      );

      @media (prefers-color-scheme: dark) {
        // Created with Figma easing gradient plugin
        background: linear-gradient(
          to top,
          #0b0c0c 0%,
          rgba(11, 12, 12, 0.99) 6.67%,
          rgba(11, 12, 12, 0.96) 13.33%,
          rgba(11, 12, 12, 0.92) 20%,
          rgba(11, 12, 12, 0.85) 26.67%,
          rgba(11, 12, 12, 0.77) 33.33%,
          rgba(11, 12, 12, 0.67) 40%,
          rgba(11, 12, 12, 0.56) 46.67%,
          rgba(11, 12, 12, 0.44) 53.33%,
          rgba(11, 12, 12, 0.33) 60%,
          rgba(11, 12, 12, 0.23) 66.67%,
          rgba(11, 12, 12, 0.15) 73.33%,
          rgba(11, 12, 12, 0.08) 80%,
          rgba(11, 12, 12, 0.04) 86.67%,
          rgba(11, 12, 12, 0.01) 93.33%,
          rgba(11, 12, 12, 0) 100%
        );
      }
    }
  }
}

.c-homepage-hero__images-column-inner {
  position: relative;

  @media (min-width: settings.$bp-sm) {
    flex: 1 1 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.c-homepage-hero__image-frame {
  width: 55vw;
  max-width: 360px;
  position: absolute;
  top: 0;

  flex: 1;
  padding: 0.5rem;

  border-radius: 9.44vw;
  background: var(--c-white);
  box-shadow: 16px 36px 90px -12px rgba(0, 0, 0, 0.2),
    2px 4px 10px 5px rgba(0, 0, 0, 0.03), 3px 6px 9px 0px rgba(0, 0, 0, 0.06);

  // Hide until revealed with JS transition
  opacity: 0;

  @media (prefers-color-scheme: dark) {
    background: var(--c-grayscale-2);
    box-shadow: 0px 36px 70px -12px rgba(0, 0, 0, 0.4),
      0px 2.5px 8px 5px rgba(0, 0, 0, 0.2),
      0px 0px 9px 0px rgba(255, 255, 255, 0.03) inset,
      5px 4px 8px -3px rgba(255, 255, 255, 0.08) inset;
  }

  @media (min-width: settings.$bp-sm) {
    width: 46vw;
  }

  @media (min-width: settings.$bp-md) {
    border-radius: clamp(1rem, 3.75vw, 3.5rem);
    width: 50%;
    position: relative;
  }

  &:first-child {
    z-index: 2;
    margin-top: 17.5vw;

    @media (min-width: settings.$bp-md) {
      margin-top: 6rem;
      margin-right: 3.5vw;
    }

    @media (min-width: $bp-hero-lg) {
      margin-right: 3.5vw;
    }
  }

  &:last-child {
    left: 35vw;
    z-index: 1;

    @media (min-width: settings.$bp-sm) {
      left: 41vw;
    }

    @media (min-width: settings.$bp-md) {
      left: auto;
    }
  }
}

.c-homepage-hero__image-mask {
  width: 100%;
  height: 0;
  padding-bottom: 203%; // 16:9 intrinsic ratio + extra
  border-radius: 8vw;

  position: relative;
  z-index: 2;
  overflow: hidden;

  @media (min-width: settings.$bp-md) {
    border-radius: clamp(0.5rem, 2.97vw, 3rem);
  }
}

.c-homepage-hero__text-container {
  padding-top: 3.5vh;

  @media (max-width: settings.$bp-md) {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
  }

  @media (min-width: settings.$bp-md) {
    padding-top: 6rem;
  }
}

.c-homepage-hero__icon {
  margin-bottom: 0.25rem;
  color: var(--c-black);

  @media (min-width: settings.$bp-md) {
    position: absolute;
    left: -2.25rem;
    top: -0.25rem;
  }
}

.c-homepage-hero__intro {
  opacity: 0;
  display: block;

  color: var(--c-black);
  font-size: 1.75rem;
  line-height: 110%;
  letter-spacing: -0.0675rem;
  margin-bottom: 4rem;

  @media (max-width: settings.$bp-md) {
    grid-column: 1 / 3;
  }

  @media (min-width: settings.$bp-md) {
    font-size: 2.25rem;
  }
}

.c-homepage-hero__detail-container {
  opacity: 0;

  @media (min-width: settings.$bp-md) {
    margin-left: 2rem;
  }
}

.c-homepage-hero__detail-container:last-child {
  @media (max-width: settings.$bp-md) {
    grid-column: 1 / 3;
  }
}

.c-homepage-hero__detail {
  display: block;
  margin-bottom: 2rem;
}

.c-homepage-hero__list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  margin-top: -1rem;
}

.c-homepage-hero__list-item {
  margin-bottom: 0.25rem;
}

.c-homepage-hero__navigation {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 10.5%;
}

// Transition Variables
$transition-heading-time: 800ms;
$transition-heading-delay: 100ms;
$transition-text-time: 900ms;
$transition-text-delay: 800ms;
$transition-image-time: 1250ms;
$transition-image-delay: 1500ms;

// Hero image transition classes
.c-homepage-hero__image-1-appear,
.c-homepage-hero__image-2-appear,
.c-homepage-hero__image-3-appear {
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: 75% center;
  perspective: 1000px;
  transform: translateY(5rem) rotateX(-5deg);
}

.c-homepage-hero__image-1-appear-active,
.c-homepage-hero__image-1-appear-done,
.c-homepage-hero__image-2-appear-active,
.c-homepage-hero__image-2-appear-done,
.c-homepage-hero__image-3-appear-active,
.c-homepage-hero__image-3-appear-done {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition:
    opacity $transition-image-time $transition-image-delay var(--v-transition-function),
    transform $transition-image-time $transition-image-delay var(--v-transition-function);
}

.c-homepage-hero__image-1-appear picture,
.c-homepage-hero__image-2-appear picture,
.c-homepage-hero__image-3-appear picture {
  opacity: 0;
}

.c-homepage-hero__image-1-appear-active picture,
.c-homepage-hero__image-2-appear-active picture,
.c-homepage-hero__image-3-appear-active picture {
  opacity: 1;
  transition: opacity 2s $transition-image-delay + 600ms
    var(--v-transition-function-easy);
}

// Staggered values for the iamge
.c-homepage-hero__image-2-appear-active {
  transition-delay: $transition-image-delay * 1.2;
}

.c-homepage-hero__image-3-appear-active {
  transition-delay: $transition-image-delay * 1.4;
}

// Hero heading transition classes
.transition-homepage-hero__heading-appear span {
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: 75% center;
  perspective: 100px;
  transform: translateY(2rem) rotateX(-5deg);
}

.transition-homepage-hero__heading-appear-active span,
.transition-homepage-hero__heading-appear-done span {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition: 
    opacity $transition-heading-time $transition-heading-delay var(--v-transition-function),
    transform $transition-heading-time $transition-heading-delay var(--v-transition-function);
}

@for $i from 1 through 16 {
  .transition-homepage-hero__heading-appear-active span:nth-child(#{$i}) {
    transition-delay: $transition-heading-delay + ($i * 50);
  }
}

// Hero text transition classes
.transition-homepage-hero__text-appear * {
  opacity: 0;
  transform: translateY(1.5rem);
}

.transition-homepage-hero__text-appear-active *,
.transition-homepage-hero__text-appear-done * {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity $transition-text-time $transition-text-delay var(--v-transition-function),
    transform $transition-text-time $transition-text-delay var(--v-transition-function);
}

@for $i from 1 through 5 {
  .transition-homepage-hero__text-appear-active p:nth-child(#{$i}) {
    transition-delay: $transition-text-delay + ($i * 200);
  }
}
