@use "../settings/breakpoints" as settings;

.c-nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;

  padding: var(--space-xs);

  opacity: 0;
  pointer-events: none;
  transition: all var(--v-transition-time-long) var(--v-transition-function);

  &--open {
    opacity: 1;
    pointer-events: auto;
  }
}

.c-nav-overlay__inner {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  padding: var(--space-xs);
  background: var(--c-white);
  border-radius: 1rem;
  
  @media (min-width: settings.$bp-md) {
    left: auto;
    width: fit-content;
  }
}

.c-nav-overlay__nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: var(--space-lg);

  @media (min-width: 520px) {
    justify-content: flex-end;
  }
}

.c-nav-overlay__secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.c-nav-overlay__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--space-xs);
  
  @media (min-width: 520px) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: settings.$bp-md) {
    flex-wrap: wrap;
  }
}

.c-nav-overlay__item {
  margin-bottom: 0;
}

// .c-nav-overlay__signature {
//   width: 1.25rem;
//   height: auto;
//   color: var(--c-black);

//   svg {
//     display: block;
//     width: 100%;
//     height: auto;
//   }
// }

.c-nav-overlay__close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  color: var(--c-black);
  width: 2.5rem;
  height: 2.5rem;

  transition: opacity var(--v-transition-time) var(--v-transition-function);

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: settings.$bp-md) {
    width: 3rem;
    height: 3rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
