@use "../settings/breakpoints" as settings;
@use "../tools/mixins" as tools;

.c-quote {
  position: relative;
  margin: 0;

  &:before {
    position: absolute;
    content: open-quote;
    top: -0.25rem;
    left: -0.875rem;
    font-size: 1.125rem;

    @include tools.paragraph-base;

    @media (min-width: settings.$bp-md) {
      font-size: 1.5rem;
    }
  }

  & .t-paragraph.t-paragraph--callout {
    margin-bottom: 0.75rem;
  }
}
