@use "../settings/breakpoints" as settings;

.c-site-header {
  --c-logo-color: var(--c-black);

  position: fixed;
  z-index: 900;
  width: 100%;

  padding-inline: var(--v-page-margin);

  background: rgba(var(--c-grayscale-1-rgb), 0.93);
  backdrop-filter: blur(1.25rem) saturate(70%);

  @media (prefers-color-scheme: dark) {
    background: rgba(var(--c-grayscale-1-rgb), 0.83);
    backdrop-filter: blur(2rem) saturate(50%);
  }

  &:before {
    content: "";
    position: absolute;
    left: var(--v-page-margin);
    right: var(--v-page-margin);
    bottom: 0;
    height: 0.0625rem;
    background: var(--c-grayscale-2);
  }
}

.c-site-header__inner {
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.c-site-header__logo {
  display: contents;
  
  & > * {
    transition: opacity var(--v-transition-time) var(--v-transition-function);
  }
  
  &:hover > * {
    opacity: 0.6;
  }

  &:active > * {
    opacity: 0.5;
  }
}

.c-site-header__logo-icon {
  display: block;
  width: 1.25rem;
}

.c-site-header__subtitle {
  display: none;
  align-items: center;

  @media (min-width: settings.$bp-md) {
    display: flex;
  }
}

.c-site-header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--c-black);
  font-family: var(--v-font-body);
  font-size: 1rem;
  transition: opacity var(--v-transition-time) var(--v-transition-function);

  &:hover {
    opacity: 0.6;
  }
}

.c-site-header__menu-label {
  @media (max-width: settings.$bp-sm) {
    display: none;
  }
}

.c-site-header__menu-icon {
  display: block;
}
