@use "../settings/breakpoints" as settings;

.c-video-container {
  position: relative;
  overflow: hidden;

  @media (hover: hover) {
    &:hover .c-video-controls,
    &:focus-within .c-video-controls {
      bottom: 0.75rem;
      right: 0.5rem;
      opacity: 1;
    }
  }
}

.c-video {
  width: 100%;
  object-fit: cover;
  background-color: var(--c-white);

  @media (prefers-reduced-motion: reduce) {
    display: none;
  }
}
.c-video.reduced-motion {
  display: none;

  @media (prefers-reduced-motion: reduce) {
    display: block;
  }
}

.c-video-controls {
  position: absolute;
  z-index: 999;
  padding: 0.75rem;
  background-color: rgba(var(--c-grayscale-1-rgb), 0.85);
  backdrop-filter: blur(1rem) saturate(80%);
  border-radius: 50%;
  color: var(--c-black);
  border: none;
  transition: all var(--v-transition-time) var(--v-transition-function-easy);
  cursor: pointer;

  @media (prefers-reduced-motion: reduce) {
    // the browser default video controls will display if the user prefers reduced motion
    display: none;
  }
  @media (min-width: settings.$bp-md) {
    padding: 1rem;
  }

  &:hover {
    background-color: var(--c-black);
    color: var(--c-grayscale-1);
  }
}

.pause-icon {
  display: block;
}
.play-icon {
  display: none;
}

.paused {
  // If the video is paused, show the pause icon
  & .pause-icon {
    display: none;
  }
  & .play-icon {
    display: block;
  }
}

.c-video-controls {
  // Hide the controls outside of the frame IF the user can hover
  @media (hover: hover) {
    bottom: -1rem;
    right: 0.5rem;
    opacity: 0;
  }
}
