@use "settings.breakpoints";

.c-case-study-links {
  position: relative;
  padding: 6rem var(--v-page-margin);

  &__heading {
    position: relative;
    margin-bottom: 4rem;
  }

  &__grid-container {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 2rem;

    // Auto-size the grid
    @media (min-width: settings.$bp-md) {
      grid-template-columns: 1fr; // TEMP Due to the number of active links
    }

    @media (min-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
