.c-homepage-hero {
  display: flex;
  padding-bottom: 20rem; // TEMP: Just to push the footer content down
}

.c-homepage-hero__primary {
  order: 2;
  flex: 1 1 80%;
  display: flex;
  max-width: var(--v-page-max-width);

  background: var(--c-pine-dark);
}

.c-homepage-hero__secondary {
  order: 1;
  flex: 0 1 5%;
  position: relative;

  background: var(--c-pine-dark);

  @media (min-width: $bp-md) {
    flex-grow: 1;
    flex-basis: 10%;
  }
}

.c-homepage-hero__tertiary {
  order: 3;
  flex: 1 1 10%;
  position: relative;

  @media (max-width: $bp-md) {
    flex: 0;
  }

  // Texture shape behind the right side
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 90vw;
    min-height: calc(100% + 2rem);
    background: var(--c-mist) url("../images/slate_stubble_light.jpg");
    background-repeat: repeat;
    background-size: 275px; // Scale down the size of the image
  }
}

.c-homepage-hero__text-column {
  z-index: 2;
  position: relative;
}

.c-homepage-hero__images-column {
  position: absolute;
  width: 25vw;
  left: 70vw;
  display: flex;

  z-index: 2;

  @media (max-width: $bp-md) {
    // Hide the images until a set breakpoint
    display: none;
  }

  @media (min-width: $bp-lg) {
    width: 37.5vw;
    left: 57.5vw;
  }

  @media (min-width: $bp-xl) {
    width: 35vw;
    max-width: 34rem;
    left: 60vw;
  }
}

.c-homepage-hero__images-column-inner {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 18vh;

  &:not(:last-child) {
    @media (min-width: $bp-lg) {
      margin-right: 2.5vw;
    }

    @media (min-width: $bp-xl) {
      margin-right: 5vw;
    }
  }
}

.c-homepage-hero__images-column-inner--alt {
  @media (max-width: $bp-lg) {
    display: none;
  }
}

.c-homepage-hero__image-container {
  width: 100%;
  height: 0;
  padding-bottom: 177%; // 16:9 intrinsic ratio

  position: relative;
  z-index: 2;
  overflow: hidden;

  border-radius: 1.75vw;
  border: $c-mist solid 0.125rem;
  background: $c-pine-dark;
  box-shadow:
    0 2rem 6rem -2rem rgba(0, 0, 0, 0.5),
    0 0.25rem 1rem rgba(0, 0, 0, 0.15);

  &:not(last-child) {
    margin-bottom: 10vw;
  }
}

.c-homepage-hero__text-container {
  // Holds the body block of text

  // Gives space around the text that extends beyond the container
  $padding: 5vw;

  background: var(--c-pine-dark);
  padding: $padding 10vw 2rem $padding;


  @media (min-width: $bp-md) {
    padding-right: 30vw;
    padding-bottom: 4rem;
    transform: translateX(-$padding);
    width: calc(100% + #{$padding});
  }

  @media (min-width: $bp-lg) {
    padding-right: 40vw;
  }

  @media (min-width: 1300px) {
    padding-right: 45vw;
  }
}

.c-homepage-hero__heading {
  padding: 11rem 2rem 6rem 0;
  padding: 25vh 2rem 20vh 0;
  color: var(--c-seafoam-light);

  span {
    display: inline-block;
  }

  .with-space {
    margin-right: 1rem;
  }
}

.c-homepage-hero__meta-text {
  margin-bottom: 0;
  position: absolute;
  height: 0.25rem; // To center the text
  z-index: 3;
  bottom: 1.375rem;
  left: calc(5vw - 0.125rem);
  font-size: 0.75rem;
  box-shadow: 1 1 1rem $c-pine-dark;
  transform: rotate(-90deg);
  transform-origin: left center;

  @media (min-width: $bp-md) {
    font-size: 0.875rem;
    bottom: 5.375rem;
    left: calc(5vw - 0.25rem);
  }
}

.c-homepage-hero__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  object-fit: cover;

  z-index: 1; // place behind text but over the background color

  @media (min-width: $bp-md) {
    width: 80vw;
  }

  @media (min-width: $bp-lg) {
    width: 70vw;
  }

  &  .gatsby-image-wrapper {
    height: 100%;
  }
}

// Transition Variables
$transition-heading-time:  1200ms;
$transition-heading-delay: 600ms;
$transition-text-time:     900ms;
$transition-text-delay:    1200ms;
$transition-image-time:    1750ms;
$transition-image-delay:   1900ms;

// Hero image transition classes
.c-homepage-hero__image-1-appear,
.c-homepage-hero__image-2-appear,
.c-homepage-hero__image-3-appear {
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: 75% center;
  perspective: 1000px;
  transform: translateY(4rem) rotateX(-20deg);
}

.c-homepage-hero__image-1-appear-active,
.c-homepage-hero__image-2-appear-active,
.c-homepage-hero__image-3-appear-active {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition: all $transition-image-time $transition-image-delay var(--v-transition-function);
}

.c-homepage-hero__image-1-appear picture,
.c-homepage-hero__image-2-appear picture,
.c-homepage-hero__image-3-appear picture {
  opacity: 0;
}

.c-homepage-hero__image-1-appear-active picture,
.c-homepage-hero__image-2-appear-active picture,
.c-homepage-hero__image-3-appear-active picture {
  opacity: 1;
  transition: opacity 2s $transition-image-delay + 600ms var(--v-transition-function-easy);
}

// Staggered values for the iamge
.c-homepage-hero__image-2-appear-active {
  transition-delay: $transition-image-delay * 1.2;
}

.c-homepage-hero__image-3-appear-active {
  transition-delay: $transition-image-delay * 1.4;
}

// Hero heading transition classes
.transition-homepage-hero__heading-appear span {
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: 75% center;
  perspective: 100px;
  transform: translateY(2rem) rotateX(-40deg);
}

.transition-homepage-hero__heading-appear-active span {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  transition: all $transition-heading-time $transition-heading-delay var(--v-transition-function);
}

@for $i from 1 through 22 {
  .transition-homepage-hero__heading-appear-active span:nth-child(#{$i}) {
    transition-delay: $transition-heading-delay + ($i * 40);
  }
}

// Hero text transition classes
.transition-homepage-hero__text-appear p {
  opacity: 0;
  transform: translateY(1.5rem);
}

.transition-homepage-hero__text-appear-active p {
  opacity: 1;
  transform: translateY(0);
  transition: all $transition-text-time $transition-text-delay var(--v-transition-function);
}

@for $i from 1 through 3 {
  .transition-homepage-hero__text-appear-active p:nth-child(#{$i}) {
    transition-delay: $transition-text-delay + ($i * 200);
  }
}
