@use "settings.breakpoints";
@use "tools.mixins";

.c-quote {
  position: relative;
  margin: 0;
  
  &:before {
    @include tools.paragraph-base;
    position: absolute;
    content: open-quote;
    top: -0.25rem;
    left: -0.875rem;
    font-size: 1.125rem;

    @media (min-width: settings.$bp-md) {
      font-size: 1.5rem;
    }
  }

  & .t-paragraph.t-paragraph--callout {
    margin-bottom: 0.75rem;
  }
}
