.c-color-block {
  position: relative;

  padding-top: 5.5rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 5rem;
    background: black;
    width: 100%;
    background-color: currentColor;
  }
}

.c-color-block__name {
  display: block;

  font-weight: bold;
  color: var(--c-stone-dark);
}

.c-color-block__variable {
  display: block;

  color: var(--c-stone);
  font-size: 0.875rem;
  font-family: monospace;
}
