.c-site-header {
  // Variables for elements inside the navigation
  --c-logo-color: var(--c-black); // This color will be reversed with the blend mode

  // mix-blend-mode: exclusion;

  position: fixed;
  z-index: 999; // Position it above all other content
  width: 100%;

  &:hover {
    mix-blend-mode: none;
  }
}

.c-site-header--light {
  // Light colored version of the navigation
  --c-logo-color: var(--c-black);
}

.c-site-header__inner {
  margin-top: 0.75rem;

  @media(min-width: $bp-md) {
    margin-top: 2rem;
    margin-left: calc(var(--v-page-margin) / 2);
  }
}

.c-site-header__logo {
  display: flex;
  align-items: center;

  text-decoration: none;

  transition: all var(--v-transition-time) var(--v-transition-function);
}

.c-site-header__logo-icon {
  $icon-width-sm: 1.5rem;
  $icon-width-lg: 2rem; // Variable to keep the value consistent in this class

  display: block;
  width: $icon-width-sm;
  margin-right: 1rem;

  @media(min-width: $bp-sm) {
    width: $icon-width-lg;
  }

  @media(min-width: $bp-md) {
    // Transformation to "hang" the logo icon to the left of the layout grid
    transform: translateX(calc(-#{$icon-width-lg} / 2));
    margin-right: calc((var(--v-page-margin) / 2) - #{$icon-width-lg});
  }
}

.c-site-header__logo-name {
  color: var(--c-logo-color);
  font-weight: 500;
  font-size: 1rem;

  position: relative;

  transition: all var(--v-transition-time-fast) 75ms var(--v-transition-function);

  @media(min-width: $bp-sm) {
    font-size: 1.25rem;
  }

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    z-index: -1;

    background: rgba(white, 0.7);

    backdrop-filter: blur(0.625rem);

    transition: all var(--v-transition-time-fast) 75ms var(--v-transition-function);
  }
}

// Hover state
.c-site-header__logo:hover {
  & .c-site-header__logo-name {
    color: var(--c-white);
  }

  & .c-site-header__logo-name::before {
    background: var(--c-black);
    backdrop-filter: none;
  }
}

.c-site-header__logo:active {
  opacity: 0.5;
}
