.c-idea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--c-white);
  color: var(--c-black);

  width: 15rem;
  padding: 1.5rem;
  margin-right: 1rem;
  
  transition: all var(--v-transition-time-fast) var(--v-transition-function-easy);
  
  @media (min-width: $bp-md) {
    min-width: 18rem;
    min-height: 18rem;
    width: 25.934vw;
    padding: 2rem;
    margin-right: 2rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--c-grayscale-2);
  }

  &:hover {
    transform: translateY(-4px);
    transition-duration: var(--v-transition-time-fast);
    transition-delay: 75ms;

    & .c-idea__icon {
      transition-duration: var(--v-transition-time-fast);
      transition-delay: 125ms;
      transform: translate(4px, -4px);
    }
  }
}

.c-idea--callout {
  box-shadow: inset 0 -2px 0 var(--c-black);
}

.c-idea__type {
  margin-bottom: 0.75rem;
  display: block;
}

.c-idea__title {
  text-decoration: underline;
  color: var(--c-black);
  max-width: 22ch;
}

.c-idea__top {
  margin-bottom: 4rem;
}

.c-idea__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.c-idea__action {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}

.c-idea__icon {
  margin-left: 0.5rem;
  margin-top: 3px;
  stroke: var(--c-black);
  transition: all var(--v-transition-time) var(--v-transition-function-easy);
}
