.c-case-study-links {
  padding: 6rem var(--v-page-margin);

  background: var(--c-mist) url("../images/slate_stubble_light.jpg");
  background-repeat: repeat;
  background-size: 275px; // Scale down the size of the image

  &__heading {
    position: relative;
    margin-bottom: 4rem;
  }

  &__grid-container {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 2rem;

    // Auto-size the grid
    @media (min-width: $bp-md) {
      grid-template-columns: 1fr; // TEMP Due to the number of active links
    }

    @media (min-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
