.c-current-work {
  padding: 0 var(--v-page-margin) 0;

  @media (min-width: $bp-md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.c-current-work__inner {
  padding: 2rem;
  background: var(--c-white);

  @media (min-width: $bp-md) {
    width: calc(83.25vw - #{var(--v-page-margin)});
  }

  @media (min-width: $bp-lg) {
    width: calc(66.75vw - #{var(--v-page-margin)});
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.c-current-work__title {
  margin-bottom: 0.25rem;
}

.c-current-work__sub-title {
  display: block;
  opacity: 0.6;
  font-weight: 500;
  margin-bottom: 1rem;
}

.c-current-work__meta {
  padding-bottom: 2rem;
}
