.c-site-header {
  // Variables for elements inside the navigation
  --c-logo-color: var(--c-white); // This color will be reversed with the blend mode

  mix-blend-mode: exclusion;

  position: fixed;
  z-index: 999; // Position it above all other content
  width: 100%;

  &:hover {
    mix-blend-mode: none;
  }
}

.c-site-header--light {
  // Light colored version of the navigation
  --c-logo-color: var(--c-black);
}

.c-site-header__inner {
  margin-top: 0.75rem;

  @media(min-width: $bp-md) {
    margin-top: 2rem;
    margin-left: calc(var(--v-page-margin) / 2);
  }
}

.c-site-header__logo {
  display: flex;
  align-items: center;

  text-decoration: none;

  transition: all var(--v-transition-time) var(--v-transition-function);

  &:hover {
    & .c-site-header__logo-name {
      color: var(--c-black);
    }

    & .c-site-header__logo-name::after {
      transform: scaleY(1);
      mix-blend-mode: multiply;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.c-site-header__logo-icon {
  $icon-width-sm: 1.5rem;
  $icon-width-lg: 2rem; // Variable to keep the value consistent in this class

  display: block;
  width: $icon-width-sm;
  margin-right: 1rem;

  @media(min-width: $bp-sm) {
    width: $icon-width-lg;
  }

  @media(min-width: $bp-md) {
    // Transformation to "hang" the logo icon to the left of the layout grid
    transform: translateX(calc(-#{$icon-width-lg} / 2));
    margin-right: calc((var(--v-page-margin) / 2) - #{$icon-width-lg});
  }
}

.c-site-header__logo-name {
  color: var(--c-logo-color);
  font-weight: 500;
  font-size: 1rem;

  position: relative;

  transition: all var(--v-transition-time-fast) 75ms var(--v-transition-function);

  @media(min-width: $bp-sm) {
    font-size: 1.25rem;
  }

  &:after {
    position: absolute;
    content: '';
    top: -0.25rem;
    left: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    background: var(--c-white);
    z-index: 200;

    transform: scaleY(0.06);
    transform-origin: bottom center;

    transition: all var(--v-transition-time-fast) 75ms var(--v-transition-function);
  }
}
