html {
  // Base background color
  background-color: var(--c-green);
}

body {
  //Base font stack
  font-family:  'Karla', -apple-system, sans-serif;
}

ul, ol {
  list-style: none;
  margin-left: 0 !important;
}
