.t-heading-1 {
  @include heading-base($letter-spacing: 2px);
}

.t-heading-1--reverse {
  color: var(--c-mist);
}

.t-heading-2 {
  font-family: "IBM Plex Mono", monospace;
  @include heading-base(
    $font-size-sm: 1.5rem,
    $font-size-lg: 1.875rem,
    $weight: bold,
  );
}

.t-heading-4 {
  @include heading-base(
    $color: $c-seafoam-bright,
    $font-size-sm: 1.125rem,
    $font-size-lg: 1.625rem,
    $letter-spacing: 1px
  );
  margin-bottom: 0.5rem;
}

.t-paragraph {
  @include paragraph-base;
}

.t-paragraph--reverse {
  color: $c-mist;
}

.t-paragraph--callout {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.44;

  @media (min-width: $bp-md) {
    font-size: 1.5rem;
    line-height: 1.33;
  }
}

.t-meta {
  color: var(--c-black);
  opacity: 0.6;
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.875rem;
  letter-spacing: 2px;
}
