// Grid classes
.o-page-layout {
  margin-left: var(--v-page-margin);
  margin-right: var(--v-page-margin);
  max-width: var(--v-page-max-width);
}

.o-text-width-limiter {
  max-width: 60ch;
}

.o-flex {
  display: flex;
  flex-direction: column;
}

.o-relative {
  position: relative;
}