@use "tools.mixins";

.o-visually-hidden {
  @include tools.visually-hidden;
}

.o-delist {
  @include tools.delist;
}

.o-delistelement {
  margin: 0;
  padding: 0;
}

.o-delink {
  color: inherit;
  text-decoration: inherit;
}

.o-block {
  display: block;
}
