.t-title {
  @include heading-base(
    $font-size-sm: 3.75rem,
    $font-size-lg: 5.5rem,
    $line-height: 1.05,
    $letter-spacing: -3rem * 0.03
  );
}

.t-heading-1 {
  @include heading-base(
    $font-size-sm: 2.5rem,
    $font-size-lg: 3.5rem,
    $letter-spacing: -3rem * 0.01
  );
}

.t-heading-1--reverse {
  color: var(--c-white);

  @media (prefers-color-scheme: dark) {
    color: var(--c-black);
  }
}

.t-heading-2 {
  @include heading-base(
    $font-size-sm: 2rem,
    $font-size-lg: 2.5rem,
    $letter-spacing: -2.5rem * 0.01
  );
  margin-bottom: 1rem;
}

.t-heading-3 {
  @include heading-base(
    $font-size-sm: 1.675rem,
    $font-size-lg: 1.75rem,
  );
  margin-bottom: 0.75rem;
}

.t-heading-3--reverse {
  color: var(--c-white);

  @media (prefers-color-scheme: dark) {
    color: var(--c-black);
  }
}

.t-heading-4 {
  @include heading-base(
    $font-size-sm: 1.25rem,
    $font-size-lg: 1.375rem,
  );
  margin-bottom: 0.75rem;
}

.t-heading-4--reverse {
  color: var(--c-white);

  @media (prefers-color-scheme: dark) {
    color: var(--c-black);
  }
}

.t-heading-5 {
  @include heading-base(
    $font-size-sm: 0.875rem,
    $font-size-lg: 1rem,
    $letter-spacing: 0.875rem * 0.08,
    $weight: 500,
    $line-height: 1.2
  );
  text-transform: uppercase;
}

.t-heading-5--reverse {
  color: var(--c-white);

  @media (prefers-color-scheme: dark) {
    color: var(--c-black);
  }
}

.t-heading-6 {
  @include heading-base(
    $font-size-sm: 0.875rem,
    $font-size-lg: 0.875rem,
    $letter-spacing: 0.875rem * 0.08,
    $weight: 500,
    $line-height: 1.2
  );
  text-transform: uppercase;
}

.t-heading-6--reverse {
  color: var(--c-white);

  @media (prefers-color-scheme: dark) {
    color: var(--c-white);
  }
}

.t-callout {
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--c-black);
  
  @media (min-width: $bp-md) {
    font-size: 96px;
    line-height: 100px;
  }
}

.t-paragraph {
  @include paragraph-base;
}

.t-paragraph--reverse {
  color: var(--c-white);

  @media (prefers-color-scheme: dark) {
    color: var(--c-black);
  }
}

.t-paragraph--callout {
  font-family: var(--v-font-display);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.4;

  @media (min-width: $bp-md) {
    font-size: 1.5rem;
  }
}

.t-paragraph--small {
  font-size: 0.8125rem;

  @media (min-width: $bp-md) {
    font-size: 0.875rem;
  }
}

.t-meta {
  color: var(--c-black);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  font-size: 0.875rem;
  letter-spacing: 0.875rem * 0.02;
}

.t-meta--small {
  font-size: 0.6875rem;
  line-height: 1rem;

  @media (min-width: $bp-md) {
    font-size: 0.75rem;
  }
}

.t-micro {
 font-size: 0.5625rem;
 letter-spacing: -0.5px;
 transform: translateY(-2px);
}

.t-list {
  list-style: disc;
}

// Black text on a white or gray background
.t-subtle {
  color: var(--c-grayscale-4);
}

.t-tight {
  line-height: 1.1;
  display: block;
}
