// Grid classes
.mb-4 {
  margin-bottom: var(--space-4);
}

.mb-8 {
  margin-bottom: var(--space-8);
}

.mb-16 {
  margin-bottom: var(--space-16);
}

.mb-24 {
  margin-bottom: var(--space-24);
}

.mb-32 {
  margin-bottom: var(--space-32);
}

.mb-40 {
  margin-bottom: var(--space-40);
}

.mb-64 {
  margin-bottom: var(--space-64);
}

// Margin top

.mt-16 {
  margin-top: var(--space-16);
}

.mr-4 {
  margin-right: var(--space-4);
}
