// Grid classes
.g-color-grid {
  display: grid;
  margin: 0;
  padding: 0;
  grid-gap: 2rem;
  
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.g-2-col {
  @media (max-width: $bp-md) {
    & > *:not(:last-child) {
      margin-bottom: var(--space-lg);
    }
  }

  @media (min-width: $bp-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
  }
}
