// Grid classes
.mb-xxs {
  margin-bottom: var(--space-xxs);
}

.mb-xs {
  margin-bottom: var(--space-xs);
}

.mb-sm {
  margin-bottom: var(--space-sm);
}

.mb-smm {
  margin-bottom: var(--space-smm);
}

.mb-md {
  margin-bottom: var(--space-md);
}

.mb-mddd {
  margin-bottom: var(--space-mdd);
}

.mb-lg {
  margin-bottom: var(--space-lg);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

// Margin top

.mt-sm {
  margin-top: var(--space-sm);
}

.mr-xxs {
  margin-right: var(--space-xxs);
}
