// All the colors

:root {
  --pine-dark: #2e3a34;
  --pine: #3e5a4c;

  --seafoam: #a7c5b4;
  --seafoam-light: #e9f4ed;
  --seafoam-bright: #76C193;

  --stone: #3e4859;
  --stone-light: #89909b;
  --stone-dark: #23282d;

  --mist: #f7f8f9;
  --mist-dark: #e6e9ed;
}
