// Variables for use across the site

// Common layout values

:root {
  --v-page-margin: 6.5vw;
  --v-max-width: #{$bp-xl};

  @media(min-width: $bp-md) {
    --v-page-margin: 10vw;
  }

  --v-transition-time-fast: 200ms;
  --v-transition-time: 300ms;
  --v-transition-time-long: 500ms;


  --v-transition-function: cubic-bezier(0.05, 0.25, 0.2, 0.95);
  --v-transition-function-easy: cubic-bezier(0.36, 0.2, 0.2, 0.95);
  --v-transition-function-easy-in: cubic-bezier(.06,.5,.2,.95);

  --v-font-display: "NEXT-pan", -apple-system, sans-serif;
  --v-font-body: "Segment", -apple-system, sans-serif;
}
