// All the colors. Either use SASS or CSS variables, depending
// on the application either can be used.

// Defined as SASS variables
$c-highlight: #EE9833;

$c-white: #FFFFFF;
$c-grayscale-1: #F9FAFA;
$c-grayscale-2: #E1E2E3;
$c-grayscale-3: #909398;
$c-grayscale-4: #5F6569;
$c-grayscale-5: #2E3134;
$c-grayscale-6: #1A1E1E;
$c-black: #0B0C0C;


// Devinded as root level CSS variables
:root {
  --c-highlight: #{$c-highlight};
  
  --c-grayscale-1: #{$c-grayscale-1};
  --c-grayscale-2: #{$c-grayscale-2};
  --c-grayscale-3: #{$c-grayscale-3};
  --c-grayscale-4: #{$c-grayscale-4};
  --c-grayscale-5: #{$c-grayscale-5};
  --c-grayscale-6: #{$c-grayscale-6};

  --c-white: #{$c-white};
  --c-black: #{$c-black};

  @media (prefers-color-scheme: dark) {
    --c-grayscale-1: #{$c-black};
    --c-grayscale-2: #{$c-grayscale-6};
    --c-grayscale-3: #{$c-grayscale-4};
    --c-grayscale-4: #{$c-grayscale-3};
    --c-grayscale-5: #{$c-grayscale-2};
    --c-grayscale-6: #{$c-grayscale-1};

    --c-white: #{$c-black};
    --c-black: #{$c-white};
  }
}
