// Variables for use across the site

// Common layout values

:root {
  --v-page-margin: 5vw;
  --v-max-width: #{$bp-xl};

  @media(min-width: $bp-md) {
    --v-page-margin: 10vw;
  }

  --v-transition-time-fast: 200ms;
  --v-transition-time: 300ms;


  --v-transition-function: cubic-bezier(0.05, 0.25, 0.2, 0.95);
  --v-transition-function-easy: cubic-bezier( .36, 0.2, 0.2, 0.95);
}
