// All the colors. Either use SASS or CSS variables, depending
// on the application either can be used.

// Defined as SASS variables
$c-highlight: #ee9833;

$c-white: #ffffff;
$c-grayscale-1: #f9fafa;
$c-grayscale-1-rgb: 249, 250, 250;
$c-grayscale-2: #e1e2e3;
$c-grayscale-3: #909398;
$c-grayscale-4: #5f6569;
$c-grayscale-5: #2e3134;
$c-grayscale-6: #1a1e1e;
$c-black: #0b0c0c;

// Devinded as root level CSS variables
:root {
  --c-highlight: #{$c-highlight};

  --c-grayscale-1: #{$c-grayscale-1};
  --c-grayscale-1-rgb: #{$c-grayscale-1-rgb};
  --c-grayscale-2: #{$c-grayscale-2};
  --c-grayscale-3: #{$c-grayscale-3};
  --c-grayscale-4: #{$c-grayscale-4};
  --c-grayscale-5: #{$c-grayscale-5};
  --c-grayscale-6: #{$c-grayscale-6};

  --c-white: #{$c-white};
  --c-white-lock: #{$c-white}; // Doesn't change in dark mode
  --c-black: #{$c-black};
  --c-black-lock: #{$c-black}; // Doesn't change in dark mode

  @media (prefers-color-scheme: dark) {
    --c-grayscale-1: #{$c-black};
    --c-grayscale-1-rgb: 11, 12, 12;
    --c-grayscale-2: #{$c-grayscale-6};
    --c-grayscale-3: #{$c-grayscale-4};
    --c-grayscale-4: #{$c-grayscale-3};
    --c-grayscale-5: #{$c-grayscale-2};
    --c-grayscale-6: #{$c-grayscale-1};

    --c-white: #{$c-black};
    --c-black: #{$c-white};
  }
}
