// Typography mixins
@mixin heading-base($color: var(--c-black), $line-height: 1.2, $weight: 400, $font-size-sm: 2.5rem, $font-size-lg: 3.5rem, $letter-spacing: 1) {
  color: $color;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
  font-size: $font-size-sm;
  line-height: $line-height;
  font-family: var(--v-font-display);

  @media (min-width: $bp-md) {
    // Scale the font up as the screen gets larger
    font-size: $font-size-sm / $bp-md * 100vw;
  }

  @media (min-width: $bp-lg) {
    font-size: $font-size-lg;
  }
}

@mixin paragraph-base($color: var(--c-black), $font-size-sm: 1rem, $font-size-lg: 1.0625rem, $line-height: 1.7) {
  color: $color;
  font-size: $font-size-sm;
  line-height: $line-height;
  letter-spacing: 0.01rem;

  &:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  @media (min-width: $bp-md) {
    font-size: $font-size-lg;
  }
}

// Visually hide something
@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

// Remove list styles
@mixin delist {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin focus-styles {
  // Disable native outline since we're drawing our own via box-shadow
  outline: none;

  html.safe-focus & {
    // Draws a thick border with a light and dark color for easier readability
    // for all users. This style is only applied when safe focus is enabled.
    // Meaning it won't apply unless a user tabs to a focusable element.
    box-shadow:
      0 0 0 2px black,
      0 0 0 4px white !important;
  }
}
