// Typography mixins
@mixin heading-base($color: $c-stone, $font-size-sm: 1.75rem, $font-size-lg: 3rem, $letter-spacing: 0) {
  font-family: 'Lexend Deca', -apple-system, sans-serif;
  color: $color;
  font-weight: 400;
  letter-spacing: $letter-spacing;
  font-size: $font-size-sm;

  @media (min-width: $bp-md) {
    // Scale the font up as the screen gets larger
    font-size: $font-size-sm / $bp-md * 100vw;
  }

  @media (min-width: $bp-lg) {
    font-size: $font-size-lg;
  }
}

@mixin paragraph-base($color: $c-pine-dark, $font-size-sm: 1.0625rem, $font-size-lg: 1.1875rem, $line-height: 1.68) {
  color: $color;
  font-size: $font-size-sm;
  line-height: $line-height;
  letter-spacing: 0.02rem;

  &:not(:last-child) {
    margin-bottom: 2rem;  
  }

  @media (min-width: $bp-md) {
    font-size: $font-size-lg;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
