// This site uses many "modern" CSS practices that unfortunately
// are not supported in older browsers like IE. Because we do not
// expect much web traffic from these older browsers and in order
// to fully make use of modern frontend development practices we
// have opted to not use our CSS in these older browsers.
//
// In place of our main CSS, we have some basic styles applied that
// help ensure our content is readable in these older browsers.

// Styles for a message if the browser is not supported
@use "components/unsupported-message";

// Styles for modern browsers:

// SETTINGS
@use "settings/breakpoints"; // SASS variables
@use "settings/color-variables"; // CSS custom properties
@use "settings/variables"; // CSS custom properties

// TOOLS
@use "tools/mixins";

// GENERIC
@use "generic/safe-focus";

// ELEMENTS
@use "elements/reset";

// OBJECTS
@use "objects/general";
@use "objects/grid";
@use "objects/page-layout";
@use "objects/spacing";
@use "objects/typography";

// OBJECTS - has to be after typography
@use "objects/colors";

// COMPONENTS
@use "components/button";
@use "components/color-block";
@use "components/current-work";
@use "components/case-study";
@use "components/case-study-link";
@use "components/case-study-links";
@use "components/case-study-header";
@use "components/homepage-hero";
@use "components/homepage-intro";
@use "components/idea";
@use "components/ideas";
@use "components/quote";
@use "components/site-header";
@use "components/site-footer";
@use "components/video";
@use "components/work";
@use "components/work-listing";
