.homepage-hero {
  background: var(--pine-dark);
  display: flex;

  &__primary {
    order: 2;
    flex: 1 1 80%;
    max-width: 90rem;
  }

  &__secondary {
    order: 1;
    flex: 1 1 10%;
  }

  &__tertiary {
    order: 3;
    flex: 1 1 10%;
  }

  &__text-column {
    max-width: 34rem;
  }
}
