@font-face {
  font-family: "NEXT-pan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NEXT-Pan-Book-Light.woff2) format('woff2');
}

@font-face {
  font-family: "NEXT-pan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/NEXT-Pan-Book-Medium.woff2) format('woff2');
}

@font-face {
  font-family: "Segment";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Segment-Regular.woff2) format('woff2');
}

@font-face {
  font-family: "Segment";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Segment-Bold.woff2) format('woff2');
}

@font-face {
  font-family: "PP Editorial New";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/PPEditorialNew-Ultralight.woff2) format('woff2');
}

html {
  // Color outside the page
  background-color: var(--c-grayscale-1);
}

body {
  //Base font stack
  font-family: var(--v-font-body);
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-wrap: pretty;

  // Page background color
  background-color: var(--c-grayscale-1);
}

ul, ol {
  list-style: none;
  margin-left: 0 !important;
}

a {
  color: var(--c-black);
  transition: all var(--v-transition-time) var(--v-transition-function);

  &:hover {
    text-decoration: none;
  }
}

sup {
  display: inline-block;
  transform: translateY(-0.25rem);
  margin-left: 1px;
}
