@use "../settings/breakpoints" as settings;

// Variables for use across the site

// Common layout values

:root {
  --v-page-margin: 6.5vw;

  --v-transition-time-fast: 200ms;
  --v-transition-time: 300ms;
  --v-transition-time-long: 500ms;

  --v-transition-function: cubic-bezier(0.04, 0.49, 0.32, 0.96);
  --v-transition-function-easy: cubic-bezier(0.36, 0.2, 0.2, 0.95);
  --v-transition-function-easy-in: cubic-bezier(0.06, 0.5, 0.2, 0.95);

  --v-font-display: "NEXT-pan", -apple-system, sans-serif;
  --v-font-editorial: "PP Editorial New", "Georgia", "Times New Roman", serif;
  --v-font-body: "Segment", -apple-system, sans-serif;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-smm: 1.5rem;
  --space-md: 2rem;
  --space-mdd: 2.5rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  @media (min-width: settings.$bp-md) {
    --v-page-margin: 10vw;
    --space-xl: 8rem;
  }

  @media (min-width: settings.$bp-lg) {
    --space-xl: 10rem;
  }
}
